# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?query=$1 [L]
# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^([\w\s-]+)$ index.php?query=$1 [L,QSA]

RewriteEngine On
RewriteBase /HDIM2/recipes/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?query=$1 [L,QSA]
